*{
    border: 0;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
body{
    background-image: url(../img/brescia.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Oswald", serif;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 55px;
    backdrop-filter: blur(5px);
    background-color:   #F7F2FA;
    display: flex;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.logo h4{
    color: white;
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 400;
}
.logo img{
    height: 120px;
    z-index: 2;
    margin-top: 69px;
}
.navigation{
    position: fixed;
    top: 55px;
    display: flex;
    box-shadow: 0 0 20px #141A33;
    width: 100%;
    align-items: center;
    z-index: 9;
    gap: 10px;
    background-color: #141A33;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 123px;
}
.navigation ul li a{
    color: #F7F2FA;
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    position: relative;
    display: inline-block;
}
.navigation ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: #194896;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
nav .social{
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.Navfirst ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 30px;
}
.Navfirst ul li a{
    color: #194896;
    text-decoration: none;
    font-size: medium;
    position: relative;
    display: inline-block;
}
.Navfirst ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #194896;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.Navfirst ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
.fa-facebook{
    font-size: 20px;
    color: #3b5998;
}
.fa-twitter{
    font-size: 23px;
    color: #00acee;
}
.fa-instagram{
    font-size: 23px;
    color: #e4405f;
}
.joinMatch a{
    text-decoration: none;
    color: #F7F2FA;
    font-size: 23px;
}
.joinMatch{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}
.joinMatch a{
    display: flex;
    font-family: "Quicksand", serif;
    gap: 5px;
    padding: 5px;
    font-size: medium;
    align-items: baseline;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(80, 114, 167, 0.5);
    transition: 0.7s;
}
.joinMatch a:hover{
    transition: 0.7s;
    background-color: #5072A7;
}

/*hamburger menu*/
.hambDev{
    position: relative;
    display: none;
}
.Hamburger{
    display: none;
}
.Hamburger div{
    width: 40px;
    height: 3px;
    background-color: #194896;
}
@keyframes rotate45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg) translateY(-18px);
    }
}
@keyframes return45 {
    0% {
        transform: rotate(45deg) translateY(-18px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}
@keyframes rotateMinus45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);;
    }
}
@keyframes returnMinus45 {
    0% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);
    }
    100% {
        transform: rotate(0deg) translateY(0) translateX(0);
    }
}
.rotate-left {
    animation: rotate45 0.2s ease-in-out forwards;
}
.rotate-right {
    animation: rotateMinus45 0.2s ease-in-out forwards;
}
.return-left {
    animation: return45 0.2s ease-in-out forwards;
}
.return-right {
    animation: returnMinus45 0.2s ease-in-out forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.element-fade-out {
    animation: fadeOut 0.2s ease-in-out forwards;
}
.element-fade-in {
    animation: fadeIn 0.2s ease-in-out forwards;
}
.menuDev{
    position: sticky;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #141A33;
}
.NavfirstDev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.NavfirstDev .btn{
    font-family: "Quicksand", serif;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    font-size: medium;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1A1256;
    transition: 0.7s;
    color: #F7F2FA;
}
.NavfirstDev .btn:hover{
    transition: 0.7s;
    background-color: #1A1256;
}
.menuDev .ulMenudev{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    height: 70%;
    align-items: center;
}
.menuDev .ulMenudev li a{
    color: #F7F2FA;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    display: inline-block;
}
.backMenu{
    display: flex;
    height: 30%;
    width: 100%;
}
.hidden{
    display: none;
}
main{
    padding-top: 124px;
}
/*footer*/
footer{
    background-color: #141A33;
    display: flex;
    padding: 0 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    color: #F7F2FA;
    font-family: "Quicksand", serif;
    font-weight: 400;
    flex-direction: column;
}
footer .footerLogo{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
footer .footerLogo img{
    height: 50px;
}
footer .footerMenu ul{
    list-style: none;
}
footer .footerMenu ul li a{
    text-decoration: none;
    color: #F7F2FA;
}

/*home*/
.ImgName h1{
    font-size: 3em;
    color: #F7F2FA;
    font-family: "Righteous", serif;
    font-weight: 200;
    margin-left: 19px;
    text-shadow: 0 5px 30px #194896;
}
.ImgName{
    position: relative;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-start;
}
.ImgName h1 {
    position: relative;
    z-index: 2;
}
.contentPresentazione{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: stretch;
}
.presentazioneDiv{
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.8);
    padding: 20px;
    height: calc(100% - 40px);
    z-index: 3;
}
.presentazioneDiv h1 {
    font-size: 2em;
    color: #194896;
    font-family: "Righteous", serif;
    font-weight: 400;
    margin-left: 19px;
    text-shadow: 0 5px 30px #194896;
}
.lineaOrizzonatalePr{
    height: 2px;
    background-color: #194896;
    width: 8vw;
}
.presentazioneDiv p{
    font-size: 1em;
    color: #194896;
    font-weight: 300;
    margin-left: 19px;
    text-shadow: 0 5px 30px #194896;
    word-wrap: break-word;
    white-space: normal;
    font-family: "Lexend Deca", serif;
    overflow-wrap: break-word;

}
.contornopresentazioneDiv{
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(25, 72, 150, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px;
    min-width: 30vw;
    max-width: 40vw;
}
.main{
    background-color: #F7F2FA;
    padding: 0 0 100px 0;
}
.strutturadiv{
    padding: 50px;
    display: flex;
    justify-content: left;
    align-items: stretch;
}
.strutturah2{
    text-transform: uppercase;
    font-size: 2.5em;
    color: #194896;
    text-align: left;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px #194896;
}
.Scuoleh2 {
    text-transform: uppercase;
    font-size: 2em;
    color: #194896;
    text-align: left;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px #194896;
    margin-bottom: 20px;
}
.partite h2{
    text-transform: uppercase;
    font-size: 2em;
    color: #194896;
    text-align: left;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px #194896;
}
.contentIMG{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.h2divpartite{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.formastrana{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    rotate: 45deg;
    background-color: #194896;
}
.formastrana2{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    rotate: 45deg;
    background-color: #194896;
}
.contentIMG img {
    height: 100px;
}
.partite{
    padding: 10px 80px;
}
.fa-people-group{
    font-size: 50px;
    color: #194896;
}
.fa-sitemap{
    font-size: 50px;
    color: #194896;
}
.fa-trophy-star{
    font-size: 50px;
    color: #194896;
}
.qualifiche p {
    color: #141A33;
    font-size: 1em;
    font-weight: 400;
    width: 50%;
    text-align: center;
}
.qualifiche h2{
    text-transform: uppercase;
    font-size: 2em;
    color: #194896;
    text-align: center;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px #194896;
}
.fa-swords{
    font-size: 50px;
    color: #194896;
}
.schema{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.qualifiche{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dettagli{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}
.dettagli .cardDett{
    background-color: #141A33;
    border-radius: 20px;
    min-height: 200px;
    width: 300px;
    padding: 20px;
    color: #F7F2FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-people-group{
    font-size: 50px;
    color: #F7F2FA;
}
.cardDett p{
    font-size: 1em;
    font-family: "Quicksand", serif;
    font-weight: 400;
    text-align: center;
}
.fa-shirt{
    font-size: 50px;
    color: #F7F2FA;
}
.testoDett{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.fa-court-sport{
    font-size: 50px;
    color: #F7F2FA;
}
.posCerchioDett{
    position: relative;
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cerchioDett{
    position: absolute;
    width: 100px;
    margin-top: -70px;
    height: 100px;
    border-radius: 50%;
    background-color: #194896;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-tshirt{
    font-size: 50px;
    color: #F7F2FA;
}
.cardCollab{
    width: 50%;
    background-color: #141A33;
    border-radius: 30px;
    display: flex;
    color: #F7F2FA;
    flex-wrap: wrap;
    justify-content: space-around;
}
.collab{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgCollab{
    position: absolute;
    margin-top: -30px;
    background-color: #194896;
    padding: 10px;
    rotate: 45deg;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #194896;
    align-items: center;
    justify-content: center;
}
.titoloCollab{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F7F2FA;
}
.fa-handshake{
    font-size: 30px;
    rotate: -45deg;
    color: #F7F2FA;
}
.collab h2{
    text-transform: uppercase;
    font-weight: 200;
}
.collab img{
    width: 50px;
}
.collab .collabTeam{
    text-decoration: none;
    color: #F7F2FA;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-width: 236px;
    flex-wrap: wrap;
}
.collabTeam:hover{
    transition: 0.7s;
    background-color: #194896;
    box-shadow: 0 0 10px #194896;
}
.spessoreCollab{
    width: 100%;
    height: 30px;
}
.footerMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}
.footerMenu div{
    max-width: 30%;
}
.footerSocial a{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
    border: 1px solid #F7F2FA;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
}
.footerSocial{
    display: flex;
    gap: 20px;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*Squadre*/
.IndicatorePagina{
    display: flex;
    height: 150px;
    background-image: url(../img/campo.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.IndicatorePagina h1{
    font-size: 6em;
    color: #F7F2FA;
    font-family: "Righteous", serif;
    font-weight: 200;
    margin-left: 19px;
    text-shadow: 0 5px 30px #194896;
}
.contentCardSquadre{
    background-color: #141A33;
    padding: 70px 10px;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}
.cardTM{
    width: 400px;
    text-decoration: none;
    cursor: pointer;
    height: min-content;
    background-color: #F7F2FA;
    background-image: radial-gradient(circle, #B5B0B8 1px, transparent 1px);
    background-size: 10px 10px;
    border-radius: 20px;
    color: #141A33;
    transition: 0.7s;
}
.cardTeam {
    width: calc(100% - 40px);
    padding: 20px;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cardTM:hover{
    transition: 0.7s;
    box-shadow: 0 0 10px #B5B0B8;
    background-size: 20px 20px;
}
.cardTeam:hover .infoTeam{
    margin-right: 5px;
}
.cardTeam:hover .teamLogo{
    margin-left: 5px;
}
.imgTeam{
    z-index: 1;
}
.cardTeam .teamLogo{
    width: 50px;
    border-radius: 50%;
}
.imgAllenatore{
    text-align: center;
}
.infoTeam{
    display: flex;
    z-index: 1;
    width: 130px;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.girone{
    text-align: right;
}
/*squadra*/
.titoloSquadra{
    width: 100%;
    height: 200px;
    background-image: url(/img/KLI-Team-BKG-BLACK_LOTUS.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}
.titoloSquadra h1{
    color: aliceblue;
    font-size: 4em;
    font-family: "Righteous", serif;
}
.titoloSquadra img {
    width: 100px;
}
.infoSquadraSingle{
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #141A33;
    box-shadow: 0 0 20px #141A33;
    justify-content: center;
}
.GiocatoriSquadra{
    border-radius: 20px;
    padding: 10px 5px 50px 5px;
    height: fit-content;
    background-color: #1A1256;
    box-shadow: 0 0 20px #1A1256;
}
.titleGiocatori{
    width: 100%;
    height: 50px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: center;
}
.GiocatoriSquadra .titleGiocatori{
    padding: 10px;
    color: #F7F2FA;
    font-size: 2em;
    font-family: "Righteous", serif;
    margin-bottom: 20px;
}
.listaGiocatori{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.giocatore {
    background-color: #3b5998;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    color: #F7F2FA;
    transition: 0.7s;
}
.giocatore:hover{
    transition: 0.7s;
    box-shadow: 0 0 10px #194896;
}
.giocatore img {
    height: 80px;
}
.giocatore div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.giocatore h3{
    font-size: 1.4em;
    font-family: "Righteous", serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.giocatore p{
    color: #B5B0B8;
    margin-left: 5px;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.DatiSquadra {
    border-radius: 30px;
    width: 100%;
    background-color: #194896;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}
.pioggia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #B5B0B8 1px, transparent 1px);
    background-size: 10px 10px;
    animation: rainEffect 3s ease infinite;
}
.DatiFondamentali{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(26, 18, 86, 0.8);
    backdrop-filter: blur(2px);
}
.DatiFondamentali div{
    height: 100%;
    padding: 20px;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #F7F2FA;
    gap: 10px;
}
.DatiFondamentali div h2{
    font-size: 1.5em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
.DatiFondamentali div p{
    font-size: 1.3em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
@keyframes rainEffect {
    0% {
        background-size: 10px 10px;
    }
    50% {
        background-size: 20px 20px;
    }
    100% {
        background-size: 10px 10px;
    }
}

/*responsive*/
@media screen and (max-width: 1000px){
    .navigation{
        display: none;
    }
    .schema {
        width: 100%;
        display: flex;
        height: auto;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .strutturadiv{
        justify-content: center;
    }
    .lineaOrizzonatalePr{
        width: 2px;
        height: 8vh;
    }
    main{
        padding-top: 70px;
    }
    nav .Navfirst{
        display: none;
    }
    nav .social{
        display: none;
    }
    .logo img{
        margin-top: 0;
        height: 65px;
    }
    nav{
        height: 70px;
    }
    .hambDev{
        display: flex;
        position: relative;
        height: 100%;
        margin-left: calc(100vw - 160px);
        align-items: center;
        justify-content: center;
    }
    .Hamburger{
        z-index: 10;
        cursor: pointer;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contornopresentazioneDiv{
        max-width: 80vw;
    }
}
@media screen and (max-width: 650px){
    .contornopresentazioneDiv{
        max-width: 90vw;
        margin: 0;
    }
    .card2{
        margin-bottom: 50px;
    }
    .presentazioneDiv h1{
        font-size: 1.8em;
    }
    .presentazioneDiv p{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 470px){
    .ImgName h1 {
        font-size: 2em;
    }
}
/*palette*/
/*https://coolors.co/palette/3eb1ee-800080-#F7F2FA-b5b0b8-5072a7-194896-1a1256-141a33*/