*{
    border: 0;
    margin: 0;
    padding: 0;
    transition: 0.7s;
}
:root{
    --main-color: #194896;
    --second-color: #1A1256;
    --second-color--trasparent: rgba(26, 18, 86, 0.5);
    --third-color: #141A33;
    --fourth-color: #5072A7;
    --fourth-color--trasparent: rgba(80, 114, 167, 0.5);
    --fifth-color: #F7F2FA;
    --sixth-color: #B5B0B8;
    --seventh-color: #3EB1EE;
    --eight-color: #ff2512;
    --second-color-darker: #1A1248;
    --footer-color: #141A20;
}
body{
    background-image: url(../img/brescia.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: "Oswald", serif;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 55px;
    backdrop-filter: blur(5px);
    background-color: var(--footer-color);
    display: flex;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.cardTeam .fa-people-group{
    font-size: 100px;
}
.logo h4{
    color: white;
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 400;
}
.logo img{
    height: 120px;
    z-index: 2;
    margin-top: 69px;
}
.navigation{
    position: fixed;
    top: 55px;
    display: flex;
    box-shadow: 0 0 20px var(--third-color);
    width: 100%;
    align-items: center;
    z-index: 9;
    gap: 10px;
    background-color: var(--third-color);
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 123px;
}
.navigation ul li a{
    color: var(--fifth-color);
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    position: relative;
    display: inline-block;
}
.navigation ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
nav .social{
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.Navfirst ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 30px;
}
.Navfirst ul li a{
    color: var(--fifth-color);
    text-decoration: none;
    font-size: medium;
    position: relative;
    display: inline-block;
}
.Navfirst ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.Navfirst ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
.fa-facebook{
    font-size: 20px;
    color: #3b5998;
}
.fa-twitter{
    font-size: 23px;
    color: #00acee;
}
.fa-instagram{
    font-size: 23px;
    color: #e4405f;
}
.joinMatch a{
    text-decoration: none;
    color: var(--fifth-color);
    font-size: 23px;
}
.joinMatch{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}
.joinMatch a{
    display: flex;
    font-family: "Quicksand", serif;
    gap: 5px;
    padding: 5px;
    font-size: medium;
    align-items: baseline;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(80, 114, 167, 0.5);
    transition: 0.7s;
}
.joinMatch a:hover{
    transition: 0.7s;
    background-color: var(--fourth-color);
}

/*hamburger menu*/
.hambDev{
    position: relative;
    display: none;
}
.Hamburger{
    display: none;
}
.Hamburger div{
    width: 40px;
    height: 3px;
    background-color: var(--fifth-color);
}
@keyframes rotate45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg) translateY(-18px);
    }
}
@keyframes return45 {
    0% {
        transform: rotate(45deg) translateY(-18px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}
@keyframes rotateMinus45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);;
    }
}
@keyframes returnMinus45 {
    0% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);
    }
    100% {
        transform: rotate(0deg) translateY(0) translateX(0);
    }
}
.rotate-left {
    animation: rotate45 0.2s ease-in-out forwards;
}
.rotate-right {
    animation: rotateMinus45 0.2s ease-in-out forwards;
}
.return-left {
    animation: return45 0.2s ease-in-out forwards;
}
.return-right {
    animation: returnMinus45 0.2s ease-in-out forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.element-fade-out {
    animation: fadeOut 0.2s ease-in-out forwards;
}
.element-fade-in {
    animation: fadeIn 0.2s ease-in-out forwards;
}
.menuDev{
    position: sticky;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--third-color);
}
.NavfirstDev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.NavfirstDev .btn{
    font-family: "Quicksand", serif;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    font-size: medium;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--second-color);
    transition: 0.7s;
    color: var(--fifth-color);
}
.NavfirstDev .btn:hover{
    transition: 0.7s;
    background-color: var(--second-color);
}
.menuDev .ulMenudev{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    height: 70%;
    align-items: center;
}
.menuDev .ulMenudev li a{
    color: var(--fifth-color);
    text-decoration: none;
    font-size: 25px;
    position: relative;
    display: inline-block;
}
.backMenu{
    display: flex;
    height: 30%;
    width: 100%;
}
.hidden{
    display: none !important;
}
main{
    padding-top: 123px;
}
/*footer*/
footer{
    background-color: var(--footer-color);
    display: flex;
    padding: 20px 20px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--fifth-color);
    font-family: "Quicksand", serif;
    font-weight: 400;
    flex-direction: column;
}
footer .footerLogo{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
footer .footerLogo img{
    height: 50px;
}
footer .footerMenu ul{
    list-style: none;
}
footer .footerMenu ul li a{
    text-decoration: none;
    color: var(--fifth-color);
}

/*home*/
.ImgName h1{
    font-size: 3em;
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 200;
    margin-left: 19px;
    text-shadow: 0 5px 30px var(--main-color);
}
.ImgName{
    position: relative;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-start;
}
.ImgName h1 {
    position: relative;
    z-index: 2;
}
.contentPresentazione{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: stretch;
}
.presentazioneDiv{
    border-radius: 20px;
    background-color: rgba(240, 248, 255, 0.8);
    padding: 20px;
    height: calc(100% - 40px);
    z-index: 3;
}
.presentazioneDiv h1 {
    font-size: 2em;
    color: var(--main-color);
    font-family: "Righteous", serif;
    font-weight: 400;
    margin-left: 19px;
    text-shadow: 0 5px 30px var(--main-color);
}
.lineaOrizzonatalePr{
    height: 2px;
    background-color: var(--fifth-color);
    width: 8vw;
}
.presentazioneDiv p{
    font-size: 1.2em;
    color: var(--main-color);
    font-weight: 300;
    margin-left: 19px;
    text-shadow: 0 5px 30px var(--main-color);
    word-wrap: break-word;
    white-space: normal;
    font-family: "Lexend Deca", serif;
    overflow-wrap: break-word;

}
.contornopresentazioneDiv{
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(25, 72, 150, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px;
    min-width: 30vw;
    max-width: 40vw;
}
.main{
    background-color: var(--third-color);
    padding: 0 0 100px 0;
}
.strutturadiv{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.strutturah2{
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--fifth-color);
    text-align: center;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px var(--main-color);
}
.btnreg:hover{
    transition: 0.7s;
    background-color: var(--fourth-color);
}
.Scuoleh2 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--main-color);
    text-align: left;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px var(--main-color);
    margin-bottom: 20px;
}
.partite h2{
    text-transform: uppercase;
    font-size: 2em;
    color: var(--main-color);
    text-align: left;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px var(--main-color);
}
.contentIMG{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.h2divpartite{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.formastrana{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    rotate: 45deg;
    background-color: var(--main-color);
}
.formastrana2{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    rotate: 45deg;
    background-color: var(--main-color);
}
.contentIMG img {
    height: 100px;
}
.partite{
    padding: 10px 80px;
}
.fa-people-group{
    font-size: 50px;
    color: var(--fifth-color);
}
.fa-sitemap{
    font-size: 50px;
    color: var(--fifth-color);
}
.fa-trophy-star{
    font-size: 50px;
    color: var(--fifth-color);
}
.qualifiche p {
    color: var(--third-color);
    font-size: 1em;
    font-weight: 400;
    width: 50%;
    text-align: center;
}
.qualifiche h2{
    text-transform: uppercase;
    font-size: 2em;
    color: var(--fifth-color);
    text-align: center;
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px var(--main-color);
}
.fa-swords{
    font-size: 50px;
    color: var(--fifth-color);
}
.schema{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.qualifiche{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dettagli{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.dettagli .cardDett{
    background-color: var(--second-color);
    border-radius: 20px;
    min-height: 200px;
    width: 300px;
    padding: 20px;
    color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}
.fa-people-group{
    font-size: 50px;
    color: var(--fifth-color);
}
.cardDett p{
    font-size: 1em;
    font-family: "Quicksand", serif;
    font-weight: 400;
    text-align: center;
}
.fa-shirt{
    font-size: 50px;
    color: var(--fifth-color);
}
.testoDett{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.fa-court-sport{
    font-size: 50px;
    color: var(--fifth-color);
}
.posCerchioDett{
    position: relative;
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cerchioDett{
    position: absolute;
    width: 100px;
    font-size: 50px !important;
    margin-top: -70px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-tshirt{
    font-size: 50px;
    color: var(--fifth-color);
}
.cardCollab{
    width: 50%;
    background-color: var(--second-color);
    border-radius: 30px;
    display: flex;
    color: var(--fifth-color);
    flex-wrap: wrap;
    justify-content: space-around;
}
.collab{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgCollab{
    position: absolute;
    margin-top: -30px;
    background-color: var(--main-color);
    padding: 10px;
    rotate: 45deg;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-color);
    align-items: center;
    justify-content: center;
}
.titoloCollab{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--fifth-color);
}
.fa-handshake{
    font-size: 30px;
    rotate: -45deg;
    color: var(--fifth-color);
}
.collab h2{
    text-transform: uppercase;
    font-weight: 200;
}
.collab img{
    width: 50px;
}
.collab .collabTeam{
    text-decoration: none;
    color: var(--fifth-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    min-width: 236px;
    flex-wrap: wrap;
}
.collabTeam:hover{
    transition: 0.7s;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}
.spessoreCollab{
    width: 100%;
    height: 30px;
}
.footerMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
    flex-direction: row-reverse;
    width: 100%;
}
.footerMenu div{
    max-width: 30%;
}
.footerSocial a{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
    border: 1px solid var(--fifth-color);
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
}
.footerSocial{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*Squadre*/
.IndicatorePagina{
    display: flex;
    height: 150px;
    background-image: url(../img/campo.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.IndicatorePagina h1{
    font-size: clamp(45px, 15vw, 100px);
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 200;
    text-shadow: 0 5px 30px var(--main-color);
}
.contentCardSquadre{
    background-color: var(--third-color);
    padding: 70px 10px;
    display: flex;
    gap: 2vw;
    min-height: 60vh;
    flex-wrap: wrap;
    justify-content: center;
}
.cardTM{
    width: 400px;
    text-decoration: none;
    cursor: pointer;
    height: min-content;
    background-color: var(--footer-color);
    background-image: radial-gradient(circle, var(--second-color) 1px, transparent 1px);
    background-size: 10px 10px;
    border-radius: 20px;
    color: var(--fifth-color);
    transition: 0.7s;
}
.attesaEstrazioni{
    font-size: medium;
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 400;
    text-shadow: 0 5px 30px var(--main-color);
}
.centerText{
    display: flex;
    text-align: center;
    align-items: center;
}
.cardTeam {
    width: calc(100% - 40px);
    padding: 20px;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cardTM:hover{
    transition: 0.7s;
    box-shadow: 0 0 10px var(--second-color-darker);
    background-size: 20px 20px;
}
.cardTeam:hover .infoTeam{
    margin-right: 5px;
}
.cardTeam:hover .teamLogo{
    margin-left: 5px;
}
.imgTeam{
    z-index: 1;
}
.cardTeam .teamLogo{
    width: 50px;
}
.imgAllenatore{
    text-align: center;
}
.infoTeam{
    display: flex;
    z-index: 1;
    width: 130px;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.girone{
    text-align: right;
}
/*squadra*/
.titoloSquadra{
    width: 100%;
    height: 200px;
    background-color: var(--footer-color);
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}
.titoloSquadra h1{
    color: aliceblue;
    font-size: clamp(35px, 11vw, 80px);
    font-family: "Righteous", serif;
}
.titoloSquadra img {
    width: 100px;
}
.infoSquadraSingle{
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    box-shadow: 0 0 20px var(--third-color);
    justify-content: center;
}
.GiocatoriSquadra{
    border-radius: 20px;
    padding: 10px 5px 50px 5px;
    height: fit-content;
    background-color: var(--second-color);
    box-shadow: 0 0 20px var(--second-color);
}
.titleGiocatori{
    width: 100%;
    height: 50px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: center;
}
.GiocatoriSquadra .titleGiocatori{
    padding: 10px;
    color: var(--fifth-color);
    font-size: 2em;
    font-family: "Righteous", serif;
    margin-bottom: 20px;
}
.listaGiocatori{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.giocatore {
    background-color: #3b5998;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    color: var(--fifth-color);
    transition: 0.7s;
}
.giocatore:hover{
    transition: 0.7s;
    box-shadow: 0 0 10px var(--main-color);
}
.giocatore img {
    height: 80px;
}
.giocatore div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.giocatore h3{
    font-size: 1.4em;
    font-family: "Righteous", serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.giocatore p{
    color: var(--sixth-color);
    margin-left: 5px;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.DatiSquadra {
    border-radius: 30px;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--second-color);
    height: 200px;
    overflow: hidden;
    position: relative;
}
.pioggia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, var(--sixth-color) 1px, transparent 1px);
    background-size: 10px 10px;
    animation: rainEffect 3s ease infinite;
}
.DatiFondamentali{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(26, 18, 86, 0.8);
    backdrop-filter: blur(2px);
}
.DatiFondamentali div{
    height: 100%;
    padding: 20px;
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--fifth-color);
    gap: 10px;
}
.DatiFondamentali div h2{
    font-size: 1.5em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
.DatiFondamentali div p{
    font-size: 1.3em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
@keyframes rainEffect {
    0% {
        background-size: 10px 10px;
    }
    50% {
        background-size: 20px 20px;
    }
    100% {
        background-size: 10px 10px;
    }
}
/*collaboratori*/
.collaboratori{
    min-height: calc(100vh - 224px);
    padding: 50px 50px;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
}
.collaboratori .CardGalleryCB{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}
.CardGalleryCB a{
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--fifth-color);
    transition: 0.7s;
    box-shadow: 0 0 20px var(--second-color);
}
.CardGalleryCB a img{
    height: 80%;
    z-index: 2;
}
.NameRole{
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.NameRole h2{
    position: relative;
    font-size: 2em;
    font-family: "Righteous", serif;
    font-weight: 300;
    z-index: 2;
}
.NameRole p{
    position: relative;
    font-size: 1.2em;
    font-family: "Righteous", serif;
    font-weight: 300;
    z-index: 2;
}
.sfondoCollaboratori1{
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: 0;
    width: 300px;
    height: 350px;
    rotate: 45deg;
    background: rgb(25,72,150);
    background: -moz-linear-gradient(90deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: linear-gradient(90deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--main-color)",endColorstr="var(--third-color)",GradientType=1);
}
.sfondoCollaboratori2{
    position: absolute;
    bottom: -200px;
    right: -200px;
    z-index: 0;
    width: 300px;
    height: 350px;
    rotate: 45deg;
    background: rgb(25,72,150);
    background: -moz-linear-gradient(270deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: linear-gradient(270deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--main-color)",endColorstr="var(--third-color)",GradientType=1);
}
.CardGalleryCB a:hover .sfondoCollaboratori1{
    transition: 0.7s;
    width: 400px;
    height: 400px;
}
.CardGalleryCB a:hover .sfondoCollaboratori2{
    transition: 0.7s;
    width: 400px;
    height: 400px;
}
.sfondoCollaboratori3{
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: 0;
    width: 300px;
    height: 350px;
    rotate: 45deg;
    background: rgb(25,72,150);
    background: -moz-linear-gradient(180deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: linear-gradient(180deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--main-color)",endColorstr="var(--third-color)",GradientType=1);
}
.sfondoCollaboratori4{
    position: absolute;
    bottom: -200px;
    left: -200px;
    z-index: 0;
    width: 300px;
    height: 350px;
    rotate: 45deg;
    background: rgb(25,72,150);
    background: -moz-linear-gradient(0deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    background: linear-gradient(0deg, rgba(25,72,150,1) 45%, rgba(20,26,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--main-color)",endColorstr="var(--third-color)",GradientType=1);
}
.CardGalleryCB a:hover .sfondoCollaboratori3{
    transition: 0.7s;
    width: 400px;
    height: 400px;
}
.CardGalleryCB a:hover .sfondoCollaboratori4{
    transition: 0.7s;
    width: 400px;
    height: 400px;
}
/*classifica*/
.Sclassifica{
    padding: 50px 50px;
    background-color: var(--third-color);
}
.Sclassifica table{
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    font-family: "Righteous", serif;
    width: 100%;
}
.copriTabella{
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: var(--second-color);
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--second-color);
}
.Classifica thead{
    color: var(--fifth-color);
}
.Classifica thead th{
    padding: 10px;
    font-weight: 300;
}
.Classifica tbody{
    border-radius: 20px;
}
.Classifica tbody tr{
    font-size: 1.1em;
    height: 65px;
    background-color: var(--second-color-darker);
    border-radius: 20px;
    margin: 5px 0;
    color: #F7F2FA;
}
.Classifica tbody tr img{
    height: 50px;
}
.Classifica tbody tr h4{
    font-size: 1.1em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
.squadraTable{
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 65px;
}
.separaRiga{
    background-color: var(--fourth-color);
    height: 5px !important;
}
table tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
table tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Sclassifica hr{
    width: 100%;
    height: 2px;
    background-color: var(--fifth-color);
    margin: 10px;
}
.TitleGirone{
    width: 100%;
}
.TitleGirone h1{
    padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid var(--fifth-color);
    color: var(--fifth-color);
    text-align: left;
    width: fit-content;
}
.CopriSclassifica{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 40px);
    background-color: rgba(22, 33, 42, 0.5);
    border-radius: 20px;
}
/*partite*/
.matchSlider{
    padding: 20px 0;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: max-content ;
    overflow-y: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth; /* per scroll più fluido se vuoi */
}

.slider-item {
    flex: 0 0 auto; /* gli item mantengono la loro larghezza, non si restringono */
}
.matchDay{
    width: 280px;
    height: 180px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.matchDay2{
    width: 280px;
    height: 180px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}
.match{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.team{
    display: flex;
    gap: 25px;
    align-items: center;
    border-radius: 20px;
    color: var(--fifth-color);
    padding: 5px;
    font-size: 1.2em;
}
.giornata{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.giornata h2{
    font-size: 2em;
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 300;
}
.giornata h3 {
    display: flex;
    gap: 10px;
    font-size: 0.8em;
    padding-top: 5px;
    padding-left: 10px;
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 300;
    align-items: center;
}
.giornata img{
    height: 50px;
    width: 50px;
    object-fit: contain;
}
.dataMatch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.dataMatch h4{
    border-radius: 10px;
    padding: 2px 5px;
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    font-size: 0.7em;
    font-family: "Righteous", serif;
}
.dataMatch hr{
    width: 100%;
    height: 1px;
    background-color: var(--fifth-color);
    margin-bottom: 10px;
    margin-top: 5px;
}
.risLive{
    background-color: var(--second-color);
    padding: 0 20px;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: "Righteous", serif;
    font-weight: 300;
    color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.dataMatch{
    width: 100%;
}
.flexContent{
    display: flex;
    height: calc(100% - 36px);
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
.titleGiornate{
    color: var(--fifth-color);
    font-size: 1.2em;
    font-family: "Righteous", serif;
    font-weight: 300;
}
.divisoreGiornate{
    width: 2px;
    height: 253px;
    background-color: var(--fifth-color);
}
.hGiornate{
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    gap: 20px;
}
.nGiornate{
    border-radius: 10px;
    padding: 2px 5px;
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    font-size: 0.8em;
    font-family: "Righteous", serif;
}
.matchDay:hover{
    transition: 0.7s;
    background-color: var(--second-color--trasparent);
}
.btnSlid{
    position: absolute;
    top: 250px;
    margin: 10px;
    border: none;
    border-radius: 100%;
    padding: 10px 15px;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    font-size: 1.5em;
    cursor: pointer;
}
.btnSlid1{
    position: absolute;
    bottom: 75px;
    margin: 10px;
    border: none;
    border-radius: 100%;
    padding: 10px 15px;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    font-size: 1.5em;
    cursor: pointer;
}
.btnRight{
    right: 0;
}
.btnSlid:hover{
    transition: 0.7s;
    background-color: var(--fifth-color);
    color: var(--fourth-color);
}
.coverSlider{
    position: relative;
    width: 100%;
    background-color: var(--third-color);
}
.partiteReview{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    overflow-x: hidden;
}
.matchSlideryt{
    width: max-content;
    padding: 20px 10px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    overflow: auto;
    white-space: nowrap;
}
.copriSlider{
    position: relative;
    width: 100%;
    background-color: var(--third-color);
}
.leggenda{
    padding: 0 !important;
}
.leggenda0{
    background-color: #ff0000;
    height: 100%;
    width: 5px;
}
.leggenda1{
    background-color: #ff0000;
    height: 100%;
    width: 5px;
}
.leggenda2{
    background-color: #ff6000;
    height: 100%;
    width: 5px;
}
.leggenda3{
    background-color: transparent;
    height: 100%;
    width: 5px;
}
.legendaEx{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    color: var(--fifth-color);
    width: 100%;
}
.legendaExCont{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--fifth-color);
}
.legendaColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*playerPage*/
.playerCenterContent{
    display: flex;
    height: calc(100vh - 224px);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 20px;
    width: calc(100% - 40px);
    background-color: var(--third-color);
}
.imgPlayer{
    box-shadow: 0 0 20px var(--fourth-color);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    background-color: var(--fourth-color);
    align-items: center;
    justify-content: center;
}
.imgPlayer img{
    padding: 10px;
    height: 100%;
    border-radius: 20px;
}
.infoPlayer{
    padding: 20px;
    background-color: var(--fourth-color);
    border-radius: 20px;
    color: var(--fifth-color);
    font-weight: 200;
    box-shadow: 0 0 20px var(--fourth-color);
}
.principaliInfoPlayer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.principaliInfoPlayer h4{
    font-size: 1.5em;
    font-family: "Righteous", serif;
    font-weight: 300;
    color: var(--fifth-color);
    padding: 10px;
    background-color: var(--eight-color);
    border-radius: 20px;
    height: fit-content;
}
.principaliInfoPlayer h3{
    font-size: 1.6em;
    font-family: "Righteous", serif;
    font-weight: 300;
    color: var(--fifth-color);
}
#ruolo{
    font-size: 1.2em;
    font-family: "Righteous", serif;
    font-weight: 200;
    color: var(--sixth-color);
    margin-bottom: 20px;
}
#squadraPlayer{
    text-decoration: none;
}
#squadraPlayer img{
    height: 15px;
}
.numero_maglia, .anno_scolastico, #squadraPlayer{
    font-size: 1em;
    font-family: "Righteous", serif;
    font-weight: 200;
    color: var(--sixth-color);
}
.numero_maglia strong, .anno_scolastico strong, #squadraPlayer strong{
    color: var(--fifth-color);
    font-weight: 200;
}
.statiscaDati{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--second-color);
    border-radius: 20px;
}
.statiscaDati div{
    width: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--fifth-color);
    font-size: 1.2em;
    font-family: "Righteous", serif;
}
.statiscaDati h5{
    font-family: "Righteous", serif;
    font-weight: 250;
    color: var(--sixth-color);
    text-align: center;
    margin-bottom: 10px;
}
.statiscaDati p{
    font-size: 1.2em;
    font-family: "Righteous", serif;
    font-weight: 200;
    color: var(--fifth-color);
}

/*regolamento*/

.mainRegolamento{
    padding: 100px 0;
    width: 100%;
    background-color: var(--third-color);
    font-family: "Righteous", serif;
    font-weight: 200;
}
.btnreg{
    background-color: var(--second-color);
    padding: 10px 10px;
    border-radius: 20px;
    min-width: 42px;
    text-decoration: none;
    color: var(--fifth-color);
    font-family: "Righteous", serif;
    font-weight: 200;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
/*partite*/
.headerResult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: var(--fifth-color);
}
.team1Result, .team2Result{
    height: 100%;
    display: flex;
    align-items: center;
}
.logoSquadra{
    width: 200px;
    height: auto;
}
.team1Result{
    width: 45%;
    background-color: var(--second-color);
    color: var(--fifth-color);
    justify-content: flex-end;
}
.whowinner h1{
    font-size: 1.3em;
    font-family: "Righteous", serif;
    font-weight: 200;
    color: var(--fifth-color);
    position: absolute;
    z-index: 2;
    background-color: var(--fourth-color--trasparent);
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px var(--fourth-color);
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team2Result{
    width: 45%;
    background-color: var(--fourth-color);
    color: var(--second-color);
    justify-content: flex-start;
}
.team1Result h2, .team2Result h2{
    font-size: 5em;
    font-family: "Righteous", serif;
    font-weight: 200;
    margin: 5vw;
}
.lose{
    width: 40% !important;
}
.win{
    width: 50% !important;
}
.pareggio{
    width: 50% !important;
}
.whowinner{
    position: relative;
    width: 10%;
    height: 100%;
    background: var(--fourth-color);
    background: -webkit-linear-gradient(90deg, rgba(26, 18, 86, 1) 50%, var(--fourth-color) 50%);
    background: -moz-linear-gradient(90deg, rgba(26, 18, 86, 1) 50%, var(--fourth-color) 50%);
    background: linear-gradient(90deg, rgba(26, 18, 86, 1) 50%, var(--fourth-color) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1A1256", endColorstr="#F7F2FA", GradientType=1);
}
.whowinner::before,
.whowinner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.whowinner::before {
    background-color: var(--fourth-color);
    clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.whowinner::after {
    background-color: var(--second-color);
    clip-path: polygon(0 100%, 100% 100%, 0 0);
}
.mediaMatch{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
}
.mediaMatch{
    color: var(--fifth-color);
}
.countdown{
    font-family: "Righteous", serif;
    font-weight: 200;
    font-size: 1.5em;
    padding: 20px;
    background-color: var(--fourth-color--trasparent);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--fourth-color);
}
.backPanoramicaMatch{
    width: calc(100% - 40vw);
    height: 600px;
    padding: 50px 20vw;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.PanoramicaMatch{
    display: flex;
    padding: 20px;
}
.live-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.casaEVENTO{
    margin-left: -113px !important;
}
.listaPrimaSquadra, .listaSecondaSquadra{
    width: 50%;
    height: calc(100% - 1px);
}

.lineaTemporaleEventi{
    width: 2px;
    height: 600px;
    background-color: var(--fifth-color);
}
.lineaTemporaleEventi .evento{
    display: inline-flex;
    margin-left: -40px;
    align-items: center;
    color: var(--fifth-color);
}
.lineaTemporaleEventi .redLive{
    display: inline-flex;
    margin-left: -35px;
    align-items: center;
    color: var(--fifth-color);
}
.evento .pallino{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--fourth-color);
    border: 1px solid var(--fifth-color);
}
.pallinoLive{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--eight-color);
}
.PointerLive{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
}

.Minuto{
    font-size: 15px;
    width: 15px;
    padding: 0 5px;
}
.spazio5{
    margin-right: 5px !important;
}
.lineaOr{
    height: 2px;
    width: 20px;
    margin-left: 5px;
    background-color: var(--fifth-color);
}
.pallinoIcon{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--fifth-color);
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}
.fa-futbol{
    color: var(--footer-color);
    font-size: 1.5em;
}
.playerEvento{
    font-size: 15px;
    font-family: "Righteous", serif;
    font-weight: 200;
    margin-left: 5px;
}
.fa-rectangle{
    font-size: 1.3em;
    rotate: 90deg;
}
.cardRed{
    color: red;
}
.cardYellow{
    color: #e6ae01;
}
.finaleResoconto{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
}
.secondasemifinale, .primosemifinale{
    width: 200px;
    height: 400px;
    background-color: var(--second-color);
}
.fa-shield{
    color: var(--main-color);
    font-size: 120px;
}
.finale{
    width: 250px;
    height: 600px;
    margin: 0 10px;
    background-color: var(--second-color);
    font-family: "Italianno", cursive;
    color: var(--fifth-color);
    font-size: 2em;
    text-align: center;
}
.finale img{
    width: 120px;
}
.secondasemifinale, .primosemifinale, .finale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
/*responsive*/
@media screen and (max-width: 1000px){
    .navigation{
        display: none;
    }
    .footerMenu div {
        max-width: 95%;
        text-align: center;
    }
    .footerMenu div h2{
        display: none;
    }
    footer .footerLogo{
        justify-content: center;
    }
    .schema {
        width: 100%;
        display: flex;
        height: auto;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .strutturadiv{
        justify-content: center;
    }
    .lineaOrizzonatalePr{
        width: 2px;
        height: 8vh;
    }
    main{
        padding-top: 70px;
    }
    nav .Navfirst{
        display: none;
    }
    nav .social{
        display: none;
    }
    .logo img{
        margin-top: 0;
        height: 65px;
    }
    nav{
        height: 70px;
    }
    .hambDev{
        display: flex;
        position: relative;
        height: 100%;
        margin-left: calc(100vw - 160px);
        align-items: center;
        justify-content: center;
    }
    .Sclassifica {
        padding: 50px 0;
    }
    .copriTabella{
        width: 95%;
    }
    .Classifica thead th {
        padding: 5px;
        font-size: small;
    }
    .Hamburger{
        z-index: 10;
        background: transparent;
        cursor: pointer;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contornopresentazioneDiv{
        max-width: 80vw;
    }
}
@media screen and (max-width: 650px){
    .contornopresentazioneDiv{
        max-width: 90vw;
        margin: 0;
    }
    .card2{
        margin-bottom: 50px;
    }
    .presentazioneDiv h1{
        font-size: 1.8em;
    }
    .presentazioneDiv p{
        font-size: 1.3em;
    }
    .primosemifinale, .secondasemifinale{
        padding: 30px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .finale{
        width: auto;
        height: auto;
        padding: 10px 30px;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
        font-size: clamp(1.2em, 3vw, 2.5em);
    }
    .finaleResoconto{
        flex-direction: column;
    }
    .fa-shield{
        font-size: clamp(30px, 18vw, 100px);
    }
    .giornata{
        justify-content: start;
    }
    .logoSquadra{
        width: 20vw;
    }
    .headerResult{
        height: 200px;
    }
}
@media screen and (max-width: 480px){
    .contornopresentazioneDiv {
        max-width: 90vw;
        margin: 10px 0 0 0;
    }
    .presentazioneDiv p{
        font-size: 1em;
    }
    .ImgName h1 {
        font-size: 2em;
    }
    .IndicatorePagina{
        height: 100px;
    }
    .mainRegolamento{
        padding: 50px 0;
    }
    .dettagli .cardDett{
        background-color: transparent;
        border-radius: 0;
        min-height: 200px;
        width: 100%;
        padding: 20px;
        color: var(--fifth-color);
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        align-items: center;
    }
    .collabTeam h2{
        display: none;
    }
    .cardCollab {
        width: 80%;
        background-color: var(--second-color);
        border-radius: 30px;
        display: flex;
        color: var(--fifth-color);
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .collabTeam{
        min-width: auto !important;
    }
    .contentIMG{
        gap: 12vw;
    }
    .cardTeam{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardTeam .imgTeam{
        display: flex;
        justify-content: center;
    }
    .infoTeamPrincipale{
        text-align: center;
    }
    .infoTeam{
        padding-top: 0;
    }
    .girone{
        text-align: center;
    }
    .DatiSquadra {
        border-radius: 0;
        height: 150px;
    }
    .infoSquadraSingle {
        padding: 30px 0;
    }
    .titoloSquadra img {
        height: 70px;
        width: auto;
    }
    .contentIMG img {
        width: 100px !important;
        height: auto;
    }
    .titoloSquadra{
        height: 150px;
    }
    .listaGiocatori{
        flex-direction: column;
    }
    .Sclassifica{
        padding: 20px 0;
    }
    .copriTabella{
        width: 100%;
    }
    .squadraTableh4{
        display: none;
    }
    .Classifica tbody tr{
        font-size: small;
    }
    .Classifica thead th{
        padding: 5px;
        font-size: small;
    }
    .squadraTable {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 65px;
        justify-content: center;
    }
    .Classifica tbody tr img{
        width: 50px;
        height: auto;
    }
}
@media screen and (max-width: 360px){
    .Classifica thead th {
        padding: 4px;
        font-size: x-small;
    }
    .Classifica tbody tr img{
        width: 13vw;
        height: auto;
    }
}

/*palette*/
/*https://coolors.co/palette/3eb1ee-800080-var(--fifth-color)-b5b0b8-5072a7-194896-1a1256-141a33*/