*{
    border: 0;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
body{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(25,72,150,1) 80%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(25,72,150,1) 80%);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(25,72,150,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#194896",GradientType=1);
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
    font-family: "Oswald", serif;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 55px;
    backdrop-filter: blur(5px);
    background-color:   aliceblue;
    display: flex;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.logo h4{
    color: white;
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 400;
}
.logo img{
    height: 120px;
    z-index: 2;
    margin-top: 69px;
}
.navigation{
    position: fixed;
    top: 55px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 9;
    gap: 10px;
    background-color: #252525;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 123px;
}
.navigation ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    position: relative;
    display: inline-block;
}
.navigation ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: #194896;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
nav .social{
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.Navfirst ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 30px;
}
.Navfirst ul li a{
    color: #194896;
    text-decoration: none;
    font-size: medium;
    position: relative;
    display: inline-block;
}
.Navfirst ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #194896;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.Navfirst ul li a:hover::after {
    visibility: visible;
    width: 100%;
}
.fa-facebook{
    font-size: 20px;
    color: #3b5998;
}
.fa-twitter{
    font-size: 23px;
    color: #00acee;
}
.fa-instagram{
    font-size: 23px;
    color: #e4405f;
}
.joinMatch a{
    text-decoration: none;
    color: aliceblue;
    font-size: 23px;
}
.joinMatch{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
}
.joinMatch a{
    display: flex;
    font-family: "Quicksand", serif;
    gap: 5px;
    padding: 5px;
    font-size: medium;
    align-items: baseline;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(76, 76, 76, 0.7);
    transition: 0.7s;
}
.joinMatch a:hover{
    transition: 0.7s;
    background-color: rgba(76, 76, 76);
}

/*hamburger menu*/
.hambDev{
    position: relative;
    display: none;
}
.Hamburger{
    display: none;
}
.Hamburger div{
    width: 40px;
    height: 3px;
    background-color: #194896;
}
@keyframes rotate45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg) translateY(-18px);
    }
}
@keyframes return45 {
    0% {
        transform: rotate(45deg) translateY(-18px);
    }
    100% {
        transform: rotate(0) translateY(0);
    }
}
@keyframes rotateMinus45 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);;
    }
}
@keyframes returnMinus45 {
    0% {
        transform: rotate(-45deg) translateY(19px) translateX(-1px);
    }
    100% {
        transform: rotate(0deg) translateY(0) translateX(0);
    }
}
.rotate-left {
    animation: rotate45 0.2s ease-in-out forwards;
}
.rotate-right {
    animation: rotateMinus45 0.2s ease-in-out forwards;
}
.return-left {
    animation: return45 0.2s ease-in-out forwards;
}
.return-right {
    animation: returnMinus45 0.2s ease-in-out forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.element-fade-out {
    animation: fadeOut 0.2s ease-in-out forwards;
}
.element-fade-in {
    animation: fadeIn 0.2s ease-in-out forwards;
}
.menuDev{
    position: sticky;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #252525;
}
.NavfirstDev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.NavfirstDev .btn{
    font-family: "Quicksand", serif;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    font-size: medium;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(76, 76, 76, 0.7);
    transition: 0.7s;
    color: aliceblue;
}
.NavfirstDev .btn:hover{
    transition: 0.7s;
    background-color: rgba(76, 76, 76);
}
.menuDev .ulMenudev{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    height: 70%;
    align-items: center;
}
.menuDev .ulMenudev li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    display: inline-block;
}
.backMenu{
    display: flex;
    height: 30%;
    width: 100%;
}
.hidden{
    display: none;
}
main{
    margin-top: 124px;
}
/*home*/
.ImgName h1{
    font-size: 70px;
    color: aliceblue;
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    margin-left: 19px;
    text-shadow: 0 5px 30px #194896;
}
main{
    background-image: url(../img/wow.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.ImgName{
    position: relative;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-start;
}
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Colore nero con opacità del 50% */
    z-index: 0;
}
.ImgName h1 {
    position: relative;
    z-index: 2;
}
/*responsive*/
@media screen and (max-width: 1000px){
    .navigation{
        display: none;
    }
    main{
        margin-top: 70px;
    }
    nav .Navfirst{
        display: none;
    }
    nav .social{
        display: none;
    }
    .logo img{
        margin-top: 0;
        height: 65px;
    }
    nav{
        height: 70px;
    }
    .hambDev{
        display: flex;
        position: relative;
        height: 100%;
        margin-left: calc(100vw - 160px);
        align-items: center;
        justify-content: center;
    }
    .Hamburger{
        z-index: 10;
        cursor: pointer;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}